<!DOCTYPE html>
<html>
    <head>
<link rel="stylesheet" href="/css/style.css">
           <script src="/js/index.js"></script>
    </head>
    <body>

        <div class="main-content">
            {{>header}}
            <img src="/img/img.jpg">
       <p>Use this site to get about creator! </p>

        </div>
        
     
       
        {{>footer}}
        
    </body>
</html>