<!DOCTYPE html>
<html>
      <head>
<link rel="stylesheet" href="/css/style.css">
           <script src="/js/index.js"></script>
    </head>
    <body>

        <div class="main-content">
            {{>header}}
            
       <p>Use this site for help! </p>

        </div>
        
     
       
        {{>footer}}
        
    </body>
</html>